/*OJOS*/
#avatarEyesPrimary{
	background-image:url("../avatar7.png");
	background-size:600vw, 600vw;
	background-position:0vw -394vw;
	background-repeat: no-repeat;
}

#avatarEyesClose{
	background-image:url("../avatar7.png");
	background-size:600vw, 600vw;
	background-position:-25vw -394vw;
	background-repeat: no-repeat;
}

#avatarEyesSad{

}

#avatarEyesAngry{

}

/*BOCA*/
#avatarMouthOpen{

}

#avatarMouthSad{

}

#avatarMouthAngry{

}